<div class="container-fluid">
    <h4 class="mt-2"></h4>
    <div class="row">
        <img id="img" style="width: 100%;">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body dashboard-card-body">
                    <div class="row mb-3">
                        <div class="col-xl-2"> </div>
                        <div class="col-xl-2" style="text-align: center;">
                            <input id="select_date" class="form-control select_date" />
                        </div>
                        <div class="col-xl-1 select-col" style="text-align: center;">
                            <select class="form-select search-select" id="search-select">
                                <option value="1" selected>모듈 번호</option>
                                <option value="2">불량 유형</option>
                            </select>
                        </div>
                        <div class="col-xl-4" style="text-align: center;">
                            <div class="table_search">
                                <input type="text" placeholder="검색어 입력" id="search-input">
                                <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png"
                                    onclick="tableSearch()">
                            </div>
                        </div>
                    </div>
                    <table id="defects_list_table" class="display nowrap custom_table" style="width:100%">
                        <thead>
                            <tr>
                                <th>모듈 번호</th>
                                <th>불량 유형</th>
                                <th>발생 일시</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(tableData.length !=0){ %>
                                <% for(var i=0; i<tableData.length; i++){ %>
                                    <tr>
                                        <td>
                                            <%= tableData[i].module_id %>
                                        </td>

                                        <td>
                                            <%= tableData[i].type %>
                                        </td>
                                        <td>
                                            <%= moment(tableData[i].occur_time).format('YYYY-MM-DD hh:mm:ss') %>
                                        </td>
                                    </tr>
                                    <%} %>
                                        <% } %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="/js/table.js" defer></script> -->
<script src="/js/defects.js" defer></script>