<div class="container-fluid py-2">
    <h4 class="mt-2"></h4>
    <div class="row">
        <img id="img" style="width: 100%;">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body dashboard-card-body">
                    <div class="row mb-3">
                        <div class="col-xl-2"> </div>
                        <div class="col-xl-2" style="text-align: center;">
                            <input id="select_date" class="form-control select_date" />
                        </div>
                        <div class="col-xl-1 select-col" style="text-align: center;">
                            <select class="form-select search-select">
                                <option value="1" selected>모듈 번호</option>
                                <option value="2">모듈 이름</option>
                            </select>
                        </div>
                        <div class="col-xl-4" style="text-align: center;">
                            <div class="table_search">
                                <input type="text" placeholder="검색어 입력">
                                <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
                            </div>
                        </div>
                    </div>
                    <table id="defects_list_table" class="display nowrap custom_table" style="width:100%">
                        <thead>
                            <tr>
                                <th>모듈 번호</th>
                                <th>모듈 이름</th>
                                <th>불량 유형</th>
                                <th>발생 일시</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<100; i++){ %>
                                <tr>
                                    <td>가나다-0000<%=i %>
                                    </td>
                                    <% if(i%2==0) {%>
                                        <td>module-A</td>
                                        <%} else{ %>
                                            <td>module-B</td>
                                            <%} %>
                                                <td>36</td>
                                                <td>2024-01-17 16:23:15</td>
                                </tr>
                                <%} %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">

        </div>
    </div>
    <canvas></canvas>
</div>
<script src="/js/defects.js" defer></script>