.first-row .dashboard-card-body {
    height: 45vh;
    overflow-y: auto;
}

.second-row .dashboard-card-body {
    height: 31vh;
    overflow-y: auto;
}

.defects-table {
    text-align: center;
}


.defects-table th {
    font-size: 0.8rem;
}

.defects-table td {
    font-size: 0.8rem;
}

.dashboard-table-body {
    padding: 5px;
}

body .none-scrollbar{
    -ms-overflow-style: none;
}

.none-scrollbar ::-webkit-scrollbar {
    display: none;
}