/* 스크롤바 표시 */
/* body .none-scrollbar {
    -ms-overflow-style: none;
}

.none-scrollbar ::-webkit-scrollbar {
    display: none;
}
 */

.defects-table {
    text-align: center;
}

.defects-table th {
    font-size: 0.8rem;
}

.defects-table td {
    font-size: 0.8rem;
}

.dashboard-table-body {
    padding: 5px;
}


.process_status,
.storage_status {
    position: relative;
}

.process_default_img {
    width: 100%;
    height: 100%;
}

.storage_default_img {
    width: 100%;
    height: 100%;
}

.process_unit_1 img {
    width: 20px;
    height: 25px;
}

.process_unit_2 img{
    width:60px;
    height: 30px;
}

.process_unit {
    position: absolute;
    visibility: hidden;
}

.process_unit_1 {
    top: 15%;
    left: 71%;
}

.process_unit_2{
    top: 60%;
    left: 80%;
}

.storage_good .storage_work {
    position: absolute;
    top: -5%;
}

.storage_defects .storage_work {
    position: absolute;
    top: 40%;
}

.storage_good .storage_work_1,
.storage_defects .storage_work_1 {
    left: 13%;
    visibility: hidden;
}

.storage_good .storage_work_2,
.storage_defects .storage_work_2 {
    left: 38%;
    visibility: hidden;
}

.storage_good .storage_work_3,
.storage_defects .storage_work_3 {
    left: 63%;
    visibility: hidden;
}

.storage_good img,
.storage_defects img {
    width: 25%;
}

.go_con_1 {
    transform: translate(0, -80%);
    transition-property: all;
    transition-duration: 2s;
    /* transition-delay: 1s; */
}
.go_left_1 {
    transform: translate(-320%, -80%);
    transition-property: all;
    transition-duration: 6s;
    /* transition-delay: 1s; */
}

.go_left_2 {
    transform: translate(-690%, -80%);
    transition-property: all;
    transition-duration: 4s;
    /* transition-delay: 1s; */
}

.go_bottom_1 {
    transform: translate(-690%, 20%);
    transition-property: all;
    transition-duration: 13s;
    /* transition-delay: 1s; */
}

.go_top_1 {
    transform: translate(-690%, -80%);
    transition-property: all;
    transition-duration: 13s;
    /* transition-delay: 1s; */
}

.go_left_3 {
    transform: translate(-890%, -80%);
    transition-property: all;
    transition-duration: 2s;
    /* transition-delay: 1s; */
}

.go_top_2 {
    transform: translate(-890%, -600%);
    transition-property: all;
    transition-duration: 20s;
    /* transition-delay: 1s; */
}


@media (max-width: 1200px) {
    .storage_good .storagSe_work {
        position: absolute;
        top: 11%;
    }

    .storage_defects .storage_work {
        position: absolute;
        top: 48%;
    }
}

@media (max-width: 600px) {
    .process_unit_1 {
        top: 7%;
        left: 67%;
    }

    .process_unit_1 img {
        width: 8px;
        height: 10px;
    }

    .process_unit_2 img {
        width: 23px;
        height: 10px;
    }

    .process_unit_2 {
        top: 55%;
        left: 77%;
    }

    .storage_good .storage_work {
        position: absolute;
        top: 13%;
    }
    .storage_defects .storage_work {
        position: absolute;
        top: 50%;
    }
    .process_default_img {
        width: 100%;
        height: 280px;
    }
}

.timeline-with-icons {
    border-left: 1px solid hsl(0, 0%, 90%);
    position: relative;
    list-style: none;
}

.timeline-with-icons .timeline-item {
    position: relative;
}

.timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no_scroll::-webkit-scrollbar {
    display: none !important;
  }

  .blinking{
    -webkit-animation: blink 0.7s ease-in-out infinite alternate;
    -moz-animation: blink 0.7s ease-in-out infinite alternate;
    animation: blink 0.7s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @-moz-keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
  @keyframes blink{
    0% {opacity: 0;}
    100% {opacity: 1;}
  }