.table_search {
  position: relative;
  width: 100%;
}

.table_search input {
  width: 100%;
  border: 1px solid #d2d6da;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
}

.table_search img {
  position: absolute;
  width: 17px;
  top: 10px;
  right: 12px;
  margin: 0;
  cursor: pointer;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before {
  content: ">" !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before {
  content: "∨" !important;
}

#defects_list_table tbody tr td,
#production_list_table tbody tr td,
#modal_cell_table tbody tr td {
  box-shadow: none;
}

#defects_list_table tbody tr.even td,
#production_list_table tbody tr.even td,
#modal_cell_table tbody tr.even td {
  background: rgb(184 179 179 / 5%);
}


@media (min-width: 700px) {

  #production_list_table th,
  #production_list_table td,
  #defects_list_table th,
  #defects_list_table td,
  #modal_cell_table th,
  #modal_cell_table td {
    text-align: center;
  }

}

